
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --clr-white: 0, 0%, 100%;
    --clr-gray: 212, 45%, 89%;
    --clr-grayblue: 220, 15%, 55%;
    --clr-darkblue: 218, 44%, 22%;
    --ff-primary: 'Outfit';

}

body {
    background-color: hsl(var(--clr-gray));
    height: 100vh;
}

.flex {display: flex}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.items-center {align-items: center;}

.rounded-md {border-radius: 20px;}
.p-md {padding: 20px}
.text-center {text-align: center;}

.card,
.card__content,
.card__image {
    max-width: 300px;
}

.card {
    background-color: hsl(var(--clr-white));
}

.card__image {
    width: 100%;
    object-fit: contain;
}

.card__title {
    font-weight: 700;
    color: hsl(var(--clr-darkblue));
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.card__description {
    font-weight: 400;
    color: hsl(var(--clr-grayblue));
    font-size: 15px;
    line-height: 20px;
}

